
div.App {
  margin: 5em 10em;
}

nav {
  background-color: black;
  padding: 1em;
}

nav a {
  margin: 10px;
  color:  black;
  font-weight: bold;
  color: white;
}

nav a:hover {
  color:  blue;
}

nav a.active {
  color: blue;
}

input {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.result-container {
  padding: 1em;
  background-color: #e1e1e1;
  margin-bottom: 10px;
}

button {
  padding: 1em;
  background-color: light-blue;
  margin-left: 10px;
}
button:hover {
  background-color: blue;
  cursor: pointer;
}